<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpacePirates.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpacePirates.Settings1>
            <setting name="ResolutionHorizontal" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ResolutionVertical" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
        </SpacePirates.Settings1>
    </userSettings>
</configuration>